/* Responsividade */
@media (max-width: 576px) {
    .container-header {
        flex-direction: column;
        text-align: center;
    }

    .container-btn {
        flex-direction: column;
    }

    .btn {
        width: 100%;
        margin-bottom: 10px;
    }
}